.container {
    align-items: center;
    border-width: 3px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-image: linear-gradient(to top, rgba(50, 32, 186, 0), rgb(17, 115, 142));
}

h1 {
    text-decoration: underline;
}

.heading {
    border-width: 3px;
    text-align: center;
    height: 15%;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.body {
    border-width: 3px;
    border-radius: 10px;
    text-align: center;
    height: 60%;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.body_info {
    background-color: rgb(235, 232, 228);
    border-radius: 10px;
}

.info {
    width: 90%;
    height: 8%;
    margin-top: 6px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-radius: 5px;
}

input[type=file] {
    padding-left: 100px;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
    background-color: rgb(223, 223, 223);
}

.footer {
    border-width: 3px;
    text-align: center;
    height: 10%;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
}

button {
    margin-top: 8px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:before {
    content: "";
    background: linear-gradient( 45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}